.imageStyle {
  border-radius: 10px;
  width: 300px;
  height: 150px;
}
.custom-prev-arrow::before,
.custom-next-arrow::before {
  color: black !important;
}

.custom-prev-arrow,
.custom-next-arrow {
  width: 40px;
  height: 40px;
  /* background-color: gray; */
  color: #000;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.custom-prev-arrow {
  left: 10px;
}

.custom-next-arrow {
  right: 10px;
}

/* .slide-item {
  position: relative;
} */

.image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.imageStyle {
  width: 300px;
  height: 150px;
  object-fit: cover;
  align-self: center;
}

.name-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.name-text {
  color: #000;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .myCarousel .w-full .slick-slide {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .myCarousel .w-full .slick-slide {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .myCarousel .slick-slide {
    width: 100px;
  }
}
