.partners {
  background-repeat: no-repeat;
  background-size: 100% 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.title {
  font-size: 30px;
  margin: 20px;
  text-align: center;
}
.whiteBackground {
  height: 150px;
  width: 100%;
  background: white;
  /* border: solid 1px black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partner img {
  width: 30%;
  height: 30%;
}

.places {
  margin: 20px;
}

#india {
  margin: 20px;
}
.aboutIndia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* .aboutIndia-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.aboutIndia-row image {
  width: 50%;
}

.aboutIndia-row p {
  width: 50%;
} */
.aboutIndia-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.aboutIndia-row .image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.aboutIndia-row p {
  width: 100%;
}
.aboutIndia-row p {
  font-family: "Roboto", Arial, sans-serif;
}

.image {
  position: relative;
  overflow: hidden;
}

.image img {
  height: auto;
  /* opacity: 0; */
  border-radius: 20px;
  /* animation: fadeIn 2s ease forwards infinite; */
}
.startedButton {
  width: fit-content;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .partners {
    background-size: 100% 300px;
  }

  .whiteBackground {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }

  .partner {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
  }
}
