.partners {
  background-repeat: no-repeat;
  background-size: 100% 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.whiteBackground {
  height: 150px;
  width: 100%;
  background: white;
  border: solid 1px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partner img {
  width: 30%;
  height: 30%;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .partners {
    background-size: 100% 300px;
  }

  .whiteBackground {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }

  .partner img {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
  }
}
