.partners {
  background-repeat: no-repeat;
  background-size: 100% 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
}
.title {
  font-size: 30px;
  margin: 20px;
  text-align: center;
}
.whiteBackground {
  height: 150px;
  width: 100%;
  background: white;
  /* border: solid 1px black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partner img {
  width: 30%;
  height: 30%;
}

.places {
  margin: 20px;
}

#india {
  margin: 20px;
}
.aboutIndia {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.aboutIndia-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

.video {
  overflow: hidden;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin-left: 50px;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutIndia-row p {
  display: flex;
  width: 100%;
  margin: 0;
  font-family: serif;
  text-align: center;
  flex-wrap: wrap;
}

.startedButton {
  width: fit-content;
  margin: 10px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .partners {
    background-size: 100% 300px;
  }

  .whiteBackground {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }

  .partner {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
  }

  .video {
    width: 300px;
    height: 150px;
  }

  .aboutIndia-row p {
    font-size: 15px;
    text-align: center;
  }
}
