.load1Center {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.weather-info {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.TodayWeather {
  display: flex;
  width: inherit;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.weather-icon {
  width: 100px;
  height: 100px;
  border: 5%;
  border-radius: solid 1px black;
  margin: 0 auto; /* Add this line to center the image */
}

.temperature,
.description {
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.location {
  font-size: 20px;
  font-weight: 1000;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.forecast-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.favButton {
  background: transparent;
  border: none;
  pointer-events: auto;
  cursor: pointer;
}

.favButton:hover {
  background-color: transparent !important;
  box-shadow: none !important;
  color: inherit !important;
}

.favButton .pi-heart {
  color: black;
  font-size: 1.5rem;
}
.favButton .pi-heart-fill {
  color: red;
  font-size: 1.5rem;
}
