.head {
  margin: 80px;
}
.reviews {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.CardTitle {
  display: flex;
  flex-direction: column;
}

.userBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.userBar p {
  font-size: 15px;
}

.Card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8PDQ0PDw4NDQ0NDQ0PDQ0NDQ8NDQ0NFREWFhURFRMYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OFQ8PFysZFRkrKystKysrKystKys3LS0tLS03LTctLTcrKysrLSsrLSsrKysrKysrKysrKysrKysrK//AABEIAKgBLAMBIgACEQEDEQH/xAAbAAADAQEBAQEAAAAAAAAAAAABAgMEAAUGB//EADAQAAIBAwIFAgUEAgMAAAAAAAABAgMREhMhBAUxQWEVUSJxkbHRgaHB8DJSFHKi/8QAGAEBAQEBAQAAAAAAAAAAAAAAAAECAwT/xAAeEQEBAQEBAQEBAAMAAAAAAAAAARESAiFREwMxYf/aAAwDAQACEQMRAD8A/VmK4jhsaeflBxFcDRY7Ei4z6YNI04DqmNWeWNURv+ObMfZHaY1eYxrhznQNmkdpjV5jDoM5Ujfj7glTGpfLDpA0ja6Z2BNTGPTBpm3TBgNXlidIXSNrpgdMdJfLDpA0jbpgwJ2zwyaV+x0qNjdCB04jteHn6Z2kbdM7THacMekDSNumHTJ/Q4YdI7TN2kdpk/qcMSpB0zZpgdMf0OGTTDpmnTHVM12vDJpMOmzXgBwL0cMyiPFBcRkjXTPLkOhUhi6cqIKQIlEjnrvhcRlEdIeMSmFjAOBfEZR2DWIqmMqZVRGUQIuAMDRYGIGdwFxsabAcSIzuAuBoxBiSmIYnYFnEFjNpiDgDAvYVozpiDgDEu0LYx0mJYnYlgMl9LiWB2I7AYvswMQWGFZm+ldYAbguTowLBxOTGuWejAxDicdc3PYWwGh5CNnWe0xOSFsMwM1PRgIYU43qcqRZWJCLLQkcp6bxZFaaIxZaB0lFLDpCJjpmohrHJHHIo6x1gnAAWQ1xWShQNBbA2c7QGKEUwOYrCxTNoAGEVmNHXAzgMzaAC4WKc7VxzYAMBi0wbi3ObFuToOmNcjcOYnoVucyeYrmbnoxSU+xO4uQLnSejDsAqY1jpPRgXOuc4i3N9GDGRaMjHGRWMjlPStkZlqcjFCReMjp59I1KRRMyOQ8ahuexqUhrmdTHUzp0i1zrktQDqF6go2LKRPMWUznfSnudJiRZy6kBAwXObMWjgHHXMgCsLAzIAGc2BszQAM445VS2FY4rM0I2Bs5is52jmwXFchHMz0KNgbJuYMyz0HudkI5AudJ6ReA9yMA5Heevgo2IwZCuZro1BSKwkZYSLRex557RpjItGTMtFl8y/0yi8JnN2MiqD6u251n+RWpVB1UMOfs7gdU1/Vcb9U7VMCqjZj+pjW6gyncyJjqpboTsasjsjOqg6mXoWuc5EszshKitzidzlIuigrYLgbJoLFZwLmbQQNgbFbOdqubFbBcnKZy9eg0pEZyBKZKUjl69DnMVzJykI5HHsVzBmRbFcjU9I0ZnKZmzOzOk9I36ysKqpkUw5HSe01pdVE3UJLcOJ07NTjIvCexDGx0Znn6GqM2hnVZDIZF0UUgyqE7gualVRTYyqkkPFXNasqsagyqErWYbjpdVzZWBnii1N2NdIrI6MhJSAjUospDKRJDXNdCmQciWQrkOkXyOyM+Ych2KuYFNXIymLcxfQvOf0JuZJzFcjn69KeUyLkLOYidzjfQZyJykM0QqbHOpaSchciUpgcjnqatkBslkHIamjkdkJJhibnrS09ytJEMy1GodfNZtWYLjZCnXVtK2R7gdUEWebtNVRSLJRKpG/NaMmNYEUUwZ0lUENGVmCxyKGlK7GSERRFU0RkJcORRRMaJDIdSLKLXFchMhHItqq5iuRBzA5mekVzOdQzSmLqHO+xqcxXVMzqCyqGL7FnUAqhllMXVMX2mtE6hSnLY8+VYrRr7GejW1zM9WQsqgIyW9y+qms7XUnJgqVPiYsZq6vuu/yOSWnyDkCrJOTcVZPsBIM6ohJSK6WxkqXTGradzLUahkyDGdjU9MWvUUzsjJCtsHVR0ntd+EizbBLEwU5Guijl5+kWpwLqIsEVR6/M+NSnhTHwGgOaa1CUSRafcztmdNFMbImmc5F01TIDmTcibmNXVsx1UMjmcqhJ6NbMxJTJZiSmOg85iOoQqVCEqxz9expnVEdQyuqDUON9JrXqCOoZ9QDqGek1dzEyJxY8QalKR0JlKkTPNW6Cs60azElVv3IKbBkZnpLVXIeJBSKRkWJqyYyZHIEqlij0NVNdTFXldko1ATkC0jkdkSqSBGRHO1oz2GjdmaUy8OISSJ9Xfi0GbqDPLda7ubeHqbHXwsr0YyKKRlhMqpnpjWtMJlNUyKRzmNNVqVCMpCTmTlM5WmqZnORJ1Va1twZl01ZyEchMhXIaumchHIEmTkyauqaoadVGWcyMqtuhi+l1uqzvcyIWNZsNzE+/7OlLCTQMhZTJYaErpbiZicTxN1axOj8TT7GJLrOt0ZBUgKnsSyOuGtDlcWCuyUZgnPuCnqGKVWzfzFr8W79LGR1DlyxfTdGsiqqnmalisahvE6bnVEczNqHOoXE6X1DtYzOYkqhE1plNMaCMvCuLl8bsv5LpxTePS+xc1J+nmrGeVR3LOZKbVxhbrXGNv2X9/c2UmoxXv0PFjxq+wz5kje/8JX0MapRVkfNLma9+6DHmq9/cvda6fTKshZcQfO+qJdwLmfnq/oTul9PoNUEpnhQ5km+o0uZxXf8AUm06exkHM8NczRRcxRNv4dPZ1Oh2p1PFfMl7g9SV+vYvVOnsykJde+x5L5kvf5k3zNe5Nq9vVlIilvv/ALI8x8yT790L6mvf3/v7E+nb16ff57FJdX8zxvUV7jR5infdD6dvU/Aso9fBgjzFX+4741Xe/VFXo84NtW33V/CZXhUrfLb9bv8ABiXFpNv3S+WwtPjEr79Xf5ETp68KnXw7E27v5t/Zfk8t8ct9+9/2DT5gkka2/h29Bv4mu19hZS3ftb7GB8ev1uCXHq9yfU6W4mF5WXaKt56/k7RWo72UXd/JW/Jn/wCdG9xlxyve91umvG+37kmpn4tT4e+nfZK8ZL9P79CU6TUnBdvte/2sGHGRu/72BPio5Sd1dpJtdSpjRQp3yt0bko38KX4BWprVaXRpfXf8GenxSj0eySsLPjF7+fN73H0+mjBuXhWb+X9TL1KHxR7XV+3S9/sjOuOjv03bf6NWJvmCbv0/Fmv5Jd/DP03FQSTat8MrS/6y/wAX9SlHZJd4x38uxljxMbNOz/x/8u6Hp8Sr+bJJ/wC27dizYjfN/A5eIJP6tmeOO+UnFp+17q3UhU4lOMIp7fRWtaxNuDt02SW6iXR80+Z7dRHzXycceyeIyn6o/cf1PyccOIOlzRvucuav3W/1OOE8QMuaefodPmr6X/hhOHECrmUr3TLrmd31szjiXxCBPmfXcC5p5OOJzBz5p5RKtzJve5xxeYI+p79Ro8z8gONcQU9T8/ocuZ+f3OOJxBaPNH3Y/qvk44zzDSvmnlAlzPyA4cwJ6p5CuaeTji8Qd6n5A+Z+TjhxAr5k/cK5p5OOLxAy5p5OfNH7hOM8Q2k9VfuLLmvk441PEL6pVzN+4y5l5OOHENH1LyPDmVu5xxOIHfNF7g9S8gOHEV//2Q==");
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px; /* Set a fixed width for each card */
  height: 200px;
}
