.myFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.myFlexItem {
  margin: 20px;
}

.titleBar {
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  width: 120px;
  margin-right: 10px;
}

.form-row input {
  flex: 1;
}

/* .itineraryPage {
  background: url("https://img.freepik.com/premium-photo/abstract-background-balloon-travel-multi-colored-hot-air-balloon-flying-among-white-clouds_407474-1285.jpg");
  background-size: 100%;
  background-repeat: repeat;
} */
